<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Login Page</title>
<link href='images/favicon.ico' rel='shortcut icon' />
<link rel="stylesheet" th:href="@{css/bootstrap.css}" />
<link rel="stylesheet" th:href="@{css/style.css}" />
<script type="text/javascript" th:src="@{js/jquery-3.3.1.js}"></script>
<script type="text/javascript" th:src="@{js/bootstrap.js}"></script>
<script type="text/javascript">
	$(function() {
		$('#loginBtn').click(function() {
			$('#loadingImg').show();
		});
		$("#success-alert").fadeTo(2000, 500).slideUp(500, function(){
		    $("#success-alert").slideUp(500);
		});
	});
</script>
</head>
<body class="login">
	<div class="container">
		<div class="login-form">
			<div class="logo text-center">
				<a href="#"><img th:src="@{images/SutiDesk.png}"> </a>
			</div>
			<form th:action="@{/login}" class="form-signin" role="form"	method="post">
				<div id="success-alert" class="alert alert-success" th:if="${param.logout}">
					You have been successfully logged out
				</div>
				<div class="alert alert-success" th:if="${password}">
					Password updated successfully
				</div>
				<div class="alert alert-danger" th:if="${param.error}">
					Email or Password invalid, please verify
				</div>
				<input type="email" name="username" id="username" class="form-control" placeholder="Email address" />
				<input type="password" id="password" name="password" class="form-control" placeholder="Password" />
				<button type="submit" id="loginBtn" class="btn btn-primary">Sign In</button>
				<img id="loadingImg" alt="Loading..." th:src="@{images/loading_confrm.gif}" style="margin: auto; display: none;" class="img-responsive">
			</form>
			<div class="form-footer">
				<div class="row">
					<div class="col-xs-8 col-sm-8 col-md-8">
						<a th:href="@{/forgotPassword}"> Forgot Password? </a>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>